body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 26px;
  font-family: 'Varela Round', sans-serif;
  color: #848999;
  font-size: 14px;
}

.button {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(172, 48, 48, 0);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #e5ebef;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.button:hover {
  background-color: rgba(54, 57, 64, .95);
  color: #202020;
}

.button.nav {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button.nav:hover {
  background-color: #9299ad;
}

.button.big-green {
  margin-top: 191px;
  padding: 25px 22px;
  background-color: #32ac97;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 29px;
  text-transform: capitalize;
}

.button.big-green:hover {
  background-color: #258575;
}

.button.sign-up {
  background-color: transparent;
}

.button.sign-up:hover {
  background-color: #fff;
}

.section {
  padding-top: 65px;
  padding-bottom: 65px;
}

.section.header {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #262933;
}

.section.hero {
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: #002746;
  text-align: center;
}

.section.grey {
  background-color: #eff1f4;
  text-align: center;
}

.section.centered {
  text-align: center;
}

.section.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #2d3035;
  text-align: left;
}

.company {
  margin-top: 11px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.nav-link {
  margin-right: 11px;
  margin-left: 11px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .81);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.sign-up {
  display: inline;
  padding: 10px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .81);
  border-radius: 5px;
  background-color: rgba(44, 153, 134, 0);
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
}

.nav-link.sign-up:hover {
  background-color: #fff;
  color: #363636;
}

.nav-link.sign-up:focus {
  color: #fff;
}

.nav-column {
  padding-top: 10px;
  text-align: right;
}

.logo {
  margin-right: 11px;
  float: left;
}

.hero-heading {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 38px;
  font-weight: 400;
}

.hero-subhead {
  color: #a3a8b6;
  font-size: 14px;
}

.section-title {
  padding-bottom: 31px;
  font-family: Montserrat, sans-serif;
  font-size: 31px;
  font-weight: 400;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 43px;
  color: #848999;
  text-align: center;
}

.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.grey-icon {
  margin-right: 9px;
}

.content-column {
  padding-top: 79px;
  text-align: left;
}

.circle {
  height: 303px;
  margin-bottom: 25px;
  padding-top: 21px;
  border-radius: 190px;
  background-color: #f7f8fa;
}

.number {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #363b48;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  padding-top: 12px;
  border-radius: 40px;
  background-color: #eff1f4;
}

.quote-box {
  padding: 34px 40px 34px 98px;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('../images/12-quotes.png');
  background-position: 8% 22%;
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: left;
}

.quote {
  color: #2d303b;
  font-size: 15px;
  line-height: 24px;
}

.quote-thingy {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: 45px;
}

.by-section {
  text-align: left;
}

.person-icon {
  margin-right: 15px;
  float: left;
}

.location {
  font-family: Varela, sans-serif;
  color: #848999;
  font-size: 15px;
}

.logo-bottom {
  margin-right: 14px;
  float: left;
}

.footer-text {
  display: inline-block;
  margin-top: 11px;
  font-family: Montserrat, sans-serif;
  color: #7d8391;
  font-size: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #596073;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.social-icon:hover {
  background-color: #ff6c16;
}

.right-footer-col {
  text-align: right;
}

.nav-bar {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #015289;
}

.image-crop {
  overflow: hidden;
  height: 302px;
  box-shadow: inset 0 -11px 0 0 red;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

.image-crop:hover {
  height: 372px;
}

.button-group {
  margin-top: 25px;
  margin-bottom: 48px;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 350px 164px;
  text-align: center;
}

.center:hover {
  color: #363940;
}

.bold-text {
  color: #fff;
}

.bold-text:hover {
  color: #000;
}

.section-2 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-2 {
  position: relative;
  left: -120px;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 40px 8px 32px;
  border-radius: 80px;
  background-color: #40ade6;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 25px;
}

.button-2:hover {
  background-color: #266b8f;
}

.button-3 {
  position: relative;
  left: -40px;
  right: -40px;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 40px 8px 32px;
  border-radius: 80px;
  background-color: #132c54;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 25px;
}

.button-3:hover {
  background-color: #041124;
}

.button-4 {
  position: relative;
  right: -40px;
  width: 100px;
  height: 100px;
  padding: 40px 8px 32px;
  border-radius: 80px;
  background-color: #cd071e;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 25px;
}

.button-4:hover {
  background-color: #630510;
}

.button-5 {
  position: relative;
  right: -120px;
  width: 100px;
  height: 100px;
  padding: 40px 8px 32px;
  border-radius: 80px;
  background-color: #f08a28;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 25px;
}

.button-5:hover {
  background-color: #a5560b;
}

.heading {
  color: #313233;
}

.heading-2 {
  color: #313233;
  font-weight: 500;
}

.heading-3 {
  color: #313233;
  font-weight: 500;
}

.paragraph {
  margin-bottom: 0px;
}

.text-block {
  color: #313233;
  font-size: 21px;
  text-transform: capitalize;
}

.body {
  background-color: #023866;
}

.field-label {
  position: relative;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.text-field {
  display: inline;
}

.text-field.center {
  position: relative;
  padding: 10px 40px;
  font-family: Montserrat, sans-serif;
}

.text-field-2 {
  display: inline;
}

.text-field-2.center {
  position: relative;
  display: block;
  padding: 10px 40px;
  font-family: Montserrat, sans-serif;
}

.submit-button {
  position: relative;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.submit-button:hover {
  background-color: #fff;
  color: #000;
}

.field-label-2 {
  position: relative;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.text-block-2 {
  display: inline;
}

.text-block-2.center {
  display: block;
  margin-top: -1px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 50px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
}

.error-message {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 200px;
  background-color: #023866;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-6 {
  display: inline-block;
}

.button-7 {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #002746;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #1f1f1f;
  font-size: 50px;
  font-weight: 500;
}

.button-7:hover {
  border-style: none;
  border-color: #ff6c16;
  background-color: #36c7ed;
  color: #d4d1d1;
}

.column {
  position: static;
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.column-3 {
  position: static;
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  position: static;
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
}

.body-2 {
  background-color: #002746;
}

.body-3 {
  background-color: #002746;
}

.body-4 {
  background-color: #002746;
}

.body-5 {
  background-color: #002746;
}

.paragraph-2 {
  text-align: center;
}

.heading-4 {
  display: block;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.heading-4.center {
  padding-top: 71px;
  padding-bottom: 50px;
}

.heading-4.center:hover {
  color: #fff;
}

.button-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #00579c;
  -webkit-transition: all 200ms ease, opacity 300ms ease;
  transition: all 200ms ease, opacity 300ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

.button-12:hover {
  background-color: rgba(54, 57, 64, .95);
}

.button-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0288d1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

.button-9:hover {
  background-color: rgba(54, 57, 64, .95);
}

.button-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff6d00;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

.button-10:hover {
  background-color: rgba(54, 57, 64, .95);
}

.column-5 {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.row-2 {
  margin-bottom: 17px;
  padding-right: 50px;
  padding-bottom: 123px;
  padding-left: 50px;
}

.column-6 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.column-7 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.body-6 {
  background-color: #002746;
}

.body-7 {
  background-color: #002746;
}

.body-8 {
  background-color: #002746;
}

.body-9 {
  background-color: #002746;
}

.body-10 {
  background-color: #002746;
}

.body-11 {
  background-color: #002746;
}

.bold-text-2 {
  display: inline;
}

.section-3 {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 990px;
}

.section-4 {
  padding-bottom: 500px;
}

.text-block-3 {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  padding: 20px;
  background-color: #fff;
}

.text-block-4 {
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: #fff;
}

.text-block-5 {
  position: relative;
  display: inline-block;
  margin-right: 0px;
  padding: 20px 550px 20px 50px;
  background-color: #fff;
}

.list-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 5px;
  background-color: transparent;
}

.list-item-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.list-item-3 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.button-11 {
  position: relative;
  display: inline-block;
  margin-bottom: -20px;
  padding: 24px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  background-image: url('../images/arrow_right.png');
  background-position: 50% 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button-11:hover {
  border-color: #ff6c16;
  background-image: url('../images/arrow_right_pressed.png');
  background-position: 50% 50%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.button-13 {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #002746;
  background-image: url('../images/plus.png');
  background-position: 50% 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #1f1f1f;
  font-size: 50px;
  font-weight: 500;
}

.button-13:hover {
  border-color: #ff6c16;
  background-color: transparent;
  background-image: url('../images/plus_pressed.png');
  background-position: 50% 50%;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  color: #d4d1d1;
}

.unordered-list {
  position: relative;
  display: block;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body-12 {
  background-color: #fff;
}

.section-5 {
  position: relative;
  display: block;
  margin-right: 0px;
  margin-left: 76px;
  padding-top: 23px;
  padding-right: 868px;
}

.bold-text-3 {
  position: relative;
  top: 0px;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
}

.button-14 {
  position: relative;
  left: 48px;
  right: 0px;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 40px 8px 32px;
  border-radius: 80px;
  background-color: #132c54;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 25px;
}

.button-14:hover {
  background-color: #041124;
}

.heading-5 {
  position: relative;
  left: 128px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-8 {
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.column-9 {
  padding-left: 0px;
}

.heading-6 {
  position: relative;
  left: 57px;
  top: 0px;
  display: inline;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.row-3 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
}

.heading-7 {
  position: relative;
  left: -256px;
  top: 26px;
  right: 327px;
  bottom: 0px;
  display: block;
  width: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}

.column-10 {
  display: inline-block;
  padding-right: 73px;
}

.row-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph-3 {
  position: relative;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
}

.row-5 {
  display: block;
}

.button-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
}

.button-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ff6d00;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
}

.column-11 {
  display: inline-block;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
}

.column-12 {
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.button-17 {
  position: relative;
  display: block;
  width: 100px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  background-color: #58abe4;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.row-6 {
  position: relative;
  left: 195px;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.button-18 {
  display: block;
}

.button-19 {
  display: block;
}

.button-20 {
  display: block;
}

.button-21 {
  display: block;
}

.button-22 {
  display: block;
}

.column-13 {
  display: block;
  padding-right: 5px;
  padding-left: 0px;
}

.column-14 {
  padding-right: 5px;
  padding-left: 5px;
}

.column-15 {
  padding-right: 5px;
  padding-left: 5px;
}

.column-16 {
  padding-right: 5px;
  padding-left: 5px;
}

.column-17 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.column-18 {
  padding-right: 0px;
  padding-left: 0px;
}

.heading-8 {
  display: block;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: left;
}

.heading-8.center {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  display: block;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.heading-9 {
  position: relative;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.text-block-7 {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 9px 15px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

.column-19 {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-20 {
  left: 144px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.row-7 {
  display: block;
}

.heading-10 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.heading-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.heading-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.heading-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.heading-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.heading-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.heading-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
}

.column-21 {
  display: block;
  margin-bottom: 50px;
}

.column-22 {
  display: block;
  padding-right: 2px;
  padding-left: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-8 {
  margin-right: 350px;
  margin-left: 350px;
  padding-left: 0px;
}

.text-block-8 {
  position: relative;
  display: block;
  width: 120px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
}

.button-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-24 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: hsla(0, 0%, 100%, .83);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
}

.button-24:active {
  background-color: #758389;
}

.column-28 {
  text-align: left;
}

@media (max-width: 991px) {
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.big-green {
    margin-top: 148px;
  }
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle {
    height: 226px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 10px;
  }
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .button.big-green {
    margin-top: 86px;
    margin-bottom: 62px;
  }
  .section {
    padding: 32px 15px;
  }
  .section.hero {
    padding-top: 42px;
  }
  .section.footer {
    text-align: center;
  }
  .company {
    display: inline-block;
    float: none;
  }
  .nav-column {
    padding-top: 19px;
    text-align: center;
  }
  .logo {
    margin-top: -14px;
    float: none;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .grey-icon {
    margin-top: 28px;
  }
  .content-column {
    padding-left: 0px;
  }
  .circle {
    display: inline-block;
    height: auto;
    border-radius: 10px;
  }
  .frames {
    width: 55%;
    margin-bottom: 19px;
  }
  .number {
    margin-bottom: 20px;
  }
  .quote-box {
    background-image: url('../images/12-quotes.png');
  }
  .by-section.first {
    margin-bottom: 35px;
  }
  .logo-bottom {
    margin-right: -1px;
    margin-bottom: 37px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .social-icon.first {
    margin-left: 1px;
  }
  .right-footer-col {
    text-align: center;
  }
  .nav-bar {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .brand-column {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .button {
    display: block;
  }
  .button.nav {
    width: 80%;
  }
  .button.big-green {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .hero-subhead {
    margin-bottom: 34px;
  }
  .grey-icon {
    margin-top: 34px;
  }
  .content-column {
    text-align: center;
  }
  .frames {
    width: 75%;
  }
  .quote-box {
    padding-left: 75px;
    background-image: url('../images/12-quotes.png');
    background-position: 8% 17%;
  }
  .heading-9 {
    text-align: center;
  }
  .button-24 {
    color: #000;
    font-size: 20px;
    text-align: center;
  }
}